<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Music List</title>
  </head>
  <body>
<mypage>
    <h1>Music List</h1>
    <h2>Welcome!</h2>
<div class="block">
    <h3>Let's Find!</h3>
  <section id="list">  <ol>
      <li>Artist</li>
      <li>Album</li>
      <li>Song</li>
    </ol>
  </section>
    <h4>Most popular</h4>
  <section id="list">  <ol> Genre
      <li>Rap</li>
      <li>Rock</li>
      <li>Pop</li>
    </ol>
    </section>
  </div>
</mypage>
  </body>
</html>
