
nav {
  height: 3em;
  background-color: black;
  text-align: center;
  display: flex;
  margin-top: 0em;

}
#navi {
  margin: auto;
  display: flex;

}
nav a {
  width: 5em;
  height: 1em;
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  text-align: center;
  margin: 0.2em 1em;
  font-style: 1em;
}

nav a:hover {
font-size: 1.5em;
}

#search-body {
  background-color: black;
}

#search-body form {
  text-align: center;
  margin: 0;
}

#search-body input#q{
  width: 30%;
  background-color: white;
}
#search-body input {
  background-color: white;
}
#search-body label {
  font-weight: bold;
  font-size: 2em;
  color: white;
}
#albums {
  display: flex;
  margin: 1em 0em;
}

#albums div {
  width: 50%;
}

.albumlarge {
  height: 20em;
  padding: 0 25%;
}

#albuminfo p {
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  color: white;
}

#albums li {
  background-color: black;
  font-weight: bold;
  margin: 0.3em;
  color: white;
}
