body {
background-color: black;
font-family: 'Poiret One';
}

div.header {
 width: 100%;
 margin: 0;
 font-family: 'Poiret One';
}

.header {
 text-align: center;
 color: white;
 text-shadow: 2px 2px 9px rgba(0, 0, 0, 1);
 font-size: 2em;
 width: 100%;
 height: 250px;
 background-color: black;
 background-image: image-url('background.jpg');
 background-size: 100%;
 background-repeat: no-repeat;
}


#main-block {
 display: flex;
 height: 40em;
 background-color: black;
 flex-direction: column;
}

#main-block div {
 flex-direction: row;
 display: flex;
 justify-content: space-around;
}



#main-block h2 {
 font-family: 'Poiret One', sans-serif;
 font-weight: 100;
 color: white;
 text-align: left;
 font-size: 2em;
 margin-bottom: 0.5em;
 margin-left: 50px;

}


.header h1 {
  margin: 0.5em;
  font-family: 'Poiret One';
}

footer {
   height: 3em;
   display: flex;
   margin-top: 0em;
   border-top: 1px solid white;
   margin: 2em;
 }

footer p {
margin: auto;
color: white;
}

.homepageimg {
  position: relative;
  max-width: 100%;
  height: 12em;
  width: 18em;
  margin: 0 auto;
  /*margin-left: 3em;
  margin-right: 3em;*/
  border: 1px solid white;
  opacity: 0.6;
  transition: all 400ms ease;
}

.homepageimg:hover {
  opacity: 0.2;

}
.links {
  height: 2.5em;
  width: auto;
}
#lastfm {
  margin: 0 20px;
}
#playerimgs {
margin: auto;
}
#artistsCat {
  position: relative;
}
#songsCat {
  position: relative;
}
#artistsCat:hover:after {
  content: "Top Artists";
  color: white;
  position: absolute;
  pointer-events: none;
  top: 36%;
  left: 15%;
  font-size: 50px;
  opacity: 1;
}

#songsCat:hover:after {
  content: "Top Songs";
  color: white;
  position: absolute;
  top:36%;
  right: 14%;
  pointer-events: none;
  font-size: 50px;
  opacity: 1;
}
#trendsCat{
  position: relative;
}
#trendsCat:hover:after {
  content: "Top Trends";
  color: white;
  position: absolute;
  pointer-events: none;
  top: 36%;
  left: 12%;
  font-size: 50px;
  opacity: 1;
}
#artistCat {
  position: relative;
}
#artistCat:hover:after {
  content: "Artists";
  color: white;
  position: absolute;
  pointer-events: none;
  top: 38%;
  left: 26%;
  font-size: 50px;
  opacity: 1;
}
#albumCat {
  position: relative;
}
#albumCat:hover:after {
  content: "Albums";
  color: white;
  position: absolute;
  pointer-events: none;
  top: 38%;
  left: 23%;
  font-size: 50px;
  opacity: 1;
}
#songCat {
  position: relative;
}
#songCat:hover:after {
  content: "Songs";
  color: white;
  position: absolute;
  pointer-events: none;
  top: 38%;
  left: 31%;
  font-size: 50px;
  opacity: 1;
}
/*#main-block div#artistlist {
  display: block;
  margin-left: 30%;
}*/
/*h2#musicplayers {
  text-align: center;
  margin-top: 1em;
}*/
