#charts {
  margin: 0.5em 1em;
  padding: 0em;
}

#songschart ul {
  list-style-type:  none;
}

#songschart li {
  font-weight: bold;
  font-family: sans-serif;
  color: #445660;
  width: 12em;
  font-size: 1.5em;
}


div#songschart {
display: flex;
width: 100%;
flex-direction: row;
flex-wrap: wrap;
height: 50em;
}

.artistimg {
  height: 3em;
  display: flex;
  margin: 0 0 0 0.2em;
}

span.chartnumber {
  font-size: 3em;
}
